<div class="ud-header">
  <h2 class="text-center">CheckUsers</h2>

</div>
<div>

</div>
<div class="ud-body">
  <app-name (sendButton)="send($event)" [button]="buttonConnect" [isConnect]="isConnect"></app-name>
  <div *ngIf="isAdmin; else userBlock">
    <form [formGroup]="setTimeOutComboBox" (ngSubmit)="onSubmit()" >
      <select class="timeOut-select"  formControlName="setTimeOut">
         <option value="" disabled>Set Timeout (sec.)</option>
         <option *ngFor="let sec of timeOuts" [ngValue] = "sec.value">{{sec.name}}</option>
      </select>
      <button type="submit">Set timeout</button>
    </form>
      <div class="msg-box" >
        <ul>
            <li *ngFor="let mObj of adminMessagesLog">User {{mObj.Name}} {{mObj.Status}}<br />
            </li>
        </ul>
      </div>
  </div>
  <ng-template #userBlock>
    <div class="msg-box" >
      <ul>
          <li *ngFor="let mObj of userMessagesList">{{mObj.rand}}<br />
          </li>
      </ul>
    </div>
  </ng-template>
    <img [src]="blob" class="img-thumbnail">
</div>
