<router-outlet></router-outlet>
<app-main></app-main>
<!-- <div class="ud-header">
  <h2 class="text-center">CheckUsers</h2>
</div> -->
<div>
</div>
<!-- <div class="ud-body">
  <input type="text" placeholder="Your name" class="name-box" [(ngModel)]="userName" />
  <button class="send-btn" (click)= "send(userName)">{{button}}</button>

  <div *ngIf="isAdmin; else userBlock">
      <div>


      </div>
      <div class="msg-box" >
        <ul>
            <li *ngFor="let mObj of adminMessagesList">Message :<br />
              <span class="msg-italic-style">{{mObj.name}}</span>
            </li>
        </ul>
      </div>
</div>
    <ng-template #userBlock>
      <div class="msg-box" >
        <ul>
            <li *ngFor="let mObj of userMessagesList">Message :<br />
              <span class="msg-italic-style">{{mObj.rand}}</span>
            </li>
        </ul>
      </div>
    </ng-template>
</div> -->
